certifi==2019.11.28
chardet==3.0.4
Django==2.2.13
django-js-asset==1.2.2
idna==2.8
Pillow==7.0.0
psycopg2==2.8.4
PySocks==1.7.1
pyTelegramBotAPI==3.6.6
pytz==2019.3
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.8
